In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('compensation data.csv')
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,None,74321
3,2.7,False,False,True,None,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,None,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,None,493

In [18]:
df.head(6)

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,None,74321
3,2.7,False,False,True,None,62593
4,1.2,True,False,False,Scikit-learn,36288
5,1.0,True,False,False,PyTorch,61302

In [19]:
df.tail(6)

,experience_coding,python_user,r_user,sql_user,most_used,compensation
25967,6.1,True,False,True,Scikit-learn,80090
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,None,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,None,493

In [23]:
header = list(df.columns)
header

['experience_coding',
 'python_user',
 'r_user',
 'sql_user',
 'most_used',
 'compensation']

In [24]:
df.iloc[0:]

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,None,74321
3,2.7,False,False,True,None,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,None,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,None,493

In [26]:
df.dtypes

experience_coding    float64
python_user             bool
r_user                  bool
sql_user                bool
most_used             object
compensation           int64
dtype: object

In [39]:
df.iloc[:,5]

0        124267
1        236889
2         74321
3         62593
4         36288
          ...
25968     15800
25969     62456
25970       923
25971     60609
25972       493
Name: compensation, Length: 25973, dtype: int64

In [40]:
len(df.iloc[:,5])

25973

In [41]:
Count_python_user = df[['python_user']].sum()
Count_python_user

python_user    21860
dtype: int64

In [42]:
Count_r_user = df[['r_user']].sum()
Count_r_user

r_user    5335
dtype: int64

In [43]:
Count_sql_user = df[['sql_user']].sum()
Count_sql_user

sql_user    10757
dtype: int64

In [46]:
experience = list(df.experience_coding)
experience

[6.1,
 12.3,
 2.2,
 2.7,
 1.2,
 1.0,
 1.8,
 6.1,
 4.5,
 1.1,
 2.7,
 0.93,
 0.32,
 9.9,
 0.78,
 13.5,
 26.5,
 1.5,
 3.4,
 0.6,
 0.95,
 4.6,
 2.8,
 28.2,
 1.4,
 4.8,
 0.37,
 4.5,
 4.4,
 0.69,
 1.5,
 9.6,
 0.31,
 3.5,
 1.0,
 0.2,
 0.39,
 5.0,
 4.0,
 0.47,
 8.1,
 1.8,
 17.1,
 1.4,
 1.3,
 3.1,
 0.26,
 2.1,
 4.4,
 5.2,
 0.7,
 0.69,
 1.3,
 1.5,
 2.2,
 6.3,
 2.9,
 1.2,
 1.5,
 1.8,
 0.91,
 4.5,
 1.6,
 0.27,
 2.6,
 1.7,
 0.74,
 2.7,
 0.99,
 24.8,
 0.32,
 3.5,
 5.7,
 22.0,
 9.9,
 3.9,
 20.5,
 0.81,
 9.8,
 1.5,
 12.3,
 6.6,
 2.1,
 2.5,
 0.0,
 1.7,
 5.3,
 1.4,
 1.5,
 28.2,
 0.97,
 1.1,
 7.0,
 1.0,
 0.71,
 9.3,
 1.7,
 20.5,
 0.75,
 0.98,
 0.8,
 1.3,
 0.36,
 1.2,
 8.6,
 18.4,
 2.7,
 24.3,
 0.94,
 1.4,
 3.3,
 0.93,
 2.3,
 0.59,
 1.2,
 8.5,
 3.3,
 21.1,
 1.2,
 12.2,
 3.8,
 4.3,
 13.1,
 24.3,
 1.6,
 2.9,
 9.4,
 7.7,
 0.3,
 9.0,
 4.2,
 1.9,
 8.3,
 0.21,
 18.8,
 9.3,
 1.8,
 2.8,
 2.4,
 15.3,
 3.9,
 0.3,
 0.8,
 0.79,
 11.1,
 0.24,
 19.7,
 8.5,
 0.26,
 0.75,
 24.4,
 6.8,
 4.4,
 3.2,
 0.84,
 16.0,
 4.9,
 8.3,
 6.6,
 4.0,
 23.9,
 27.0,
 0.91,
 2.2,
 13.9,
 3.4,
 1.4,
 6.6,
 2.6,
 8.5,
 28.2,
 2.7,
 8.6,
 2.9,
 2.6,
 7.5,
 1.3,
 16.2,
 2.7,
 1.8,
 7.1,
 1.9,
 0.41,
 2.3,
 11.8,
 4.0,
 5.4,
 3.8,
 5.7,
 0.0,
 0.0,
 21.4,
 2.5,
 7.6,
 22.8,
 1.7,
 2.6,
 2.1,
 1.9,
 3.2,
 7.2,
 14.1,
 1.9,
 0.93,
 9.6,
 1.4,
 0.45,
 3.2,
 1.0,
 4.4,
 17.7,
 8.7,
 28.9,
 0.58,
 1.3,
 11.3,
 3.1,
 2.5,
 5.9,
 2.7,
 1.1,
 16.5,
 7.5,
 25.2,
 0.88,
 0.6,
 4.1,
 8.2,
 5.7,
 0.49,
 2.6,
 2.2,
 9.2,
 4.0,
 28.6,
 0.6,
 2.9,
 29.7,
 1.7,
 24.0,
 1.7,
 0.66,
 3.2,
 2.2,
 0.97,
 0.73,
 6.1,
 3.3,
 0.34,
 5.3,
 0.93,
 4.3,
 2.7,
 1.4,
 13.7,
 3.6,
 1.5,
 0.42,
 29.1,
 23.9,
 0.0,
 2.2,
 10.0,
 0.93,
 9.2,
 15.1,
 14.6,
 1.8,
 9.6,
 3.2,
 2.4,
 1.9,
 0.98,
 16.7,
 6.6,
 1.6,
 3.7,
 2.7,
 0.53,
 0.77,
 0.76,
 0.73,
 0.34,
 24.7,
 1.4,
 11.7,
 3.9,
 15.0,
 4.7,
 0.41,
 0.0,
 2.3,
 2.2,
 1.0,
 1.9,
 0.44,
 0.0,
 2.9,
 29.0,
 12.0,
 3.2,
 3.2,
 1.5,
 1.8,
 0.75,
 20.1,
 19.2,
 8.7,
 0.0,
 4.9,
 21.5,
 1.6,
 0.37,
 17.4,
 4.6,
 5.2,
 9.5,
 1.2,
 2.0,
 2.5,
 1.6,
 1.7,
 18.3,
 6.1,
 0.48,
 2.9,
 2.9,
 1.6,
 2.4,
 5.1,
 0.43,
 0.81,
 10.5,
 0.22,
 1.8,
 9.1,
 4.3,
 7.7,
 8.1,
 4.1,
 1.7,
 1.4,
 22.9,
 18.5,
 2.2,
 0.42,
 24.1,
 5.8,
 0.93,
 4.8,
 2.6,
 3.1,
 4.0,
 9.9,
 7.2,
 5.4,
 8.3,
 2.9,
 0.54,
 0.55,
 0.0,
 0.36,
 1.0,
 6.3,
 2.3,
 0.68,
 1.6,
 0.0,
 0.58,
 0.85,
 2.9,
 3.4,
 25.4,
 8.8,
 5.5,
 4.2,
 14.2,
 2.8,
 5.2,
 1.6,
 1.3,
 4.9,
 0.0,
 0.4,
 0.93,
 2.4,
 10.7,
 2.1,
 2.4,
 14.8,
 3.5,
 21.8,
 4.3,
 12.9,
 2.5,
 0.96,
 1.9,
 21.7,
 0.27,
 16.8,
 1.8,
 27.8,
 1.0,
 8.2,
 2.5,
 2.2,
 1.3,
 7.1,
 10.0,
 0.95,
 6.3,
 1.8,
 0.29,
 4.9,
 0.73,
 3.7,
 5.1,
 1.9,
 0.21,
 0.36,
 9.9,
 1.3,
 13.1,
 0.33,
 2.8,
 1.4,
 2.7,
 1.7,
 1.1,
 5.6,
 0.7,
 0.73,
 2.8,
 9.4,
 2.4,
 3.0,
 8.4,
 3.4,
 0.64,
 1.4,
 2.0,
 2.2,
 3.8,
 3.2,
 0.95,
 2.6,
 14.2,
 0.64,
 16.7,
 0.83,
 2.9,
 0.49,
 19.6,
 1.1,
 0.57,
 2.1,
 2.4,
 16.9,
 2.9,
 9.0,
 3.5,
 0.91,
 6.4,
 7.0,
 2.0,
 0.56,
 0.67,
 0.69,
 9.1,
 1.8,
 1.2,
 9.6,
 16.6,
 1.1,
 9.0,
 0.0,
 4.5,
 0.0,
 6.8,
 0.54,
 3.6,
 14.6,
 17.0,
 0.67,
 0.92,
 0.7,
 6.0,
 0.36,
 5.1,
 4.8,
 0.43,
 0.39,
 0.88,
 0.55,
 0.62,
 2.8,
 0.96,
 1.4,
 25.8,
 1.5,
 0.98,
 3.3,
 2.1,
 4.6,
 9.6,
 1.3,
 0.26,
 9.6,
 2.3,
 1.7,
 11.1,
 3.3,
 0.84,
 3.7,
 1.5,
 1.9,
 2.9,
 25.3,
 11.0,
 14.5,
 0.91,
 0.31,
 2.1,
 2.6,
 18.2,
 1.2,
 1.3,
 27.7,
 0.35,
 2.6,
 0.43,
 1.8,
 3.7,
 0.92,
 7.7,
 5.9,
 4.4,
 2.1,
 4.5,
 0.28,
 2.6,
 0.82,
 4.8,
 0.53,
 0.44,
 19.8,
 15.5,
 0.95,
 2.2,
 0.51,
 2.9,
 2.7,
 2.7,
 1.9,
 2.7,
 0.33,
 0.62,
 1.9,
 0.32,
 3.3,
 0.54,
 0.73,
 0.0,
 5.5,
 1.2,
 3.9,
 15.1,
 2.9,
 0.83,
 7.6,
 1.4,
 3.1,
 1.5,
 4.2,
 0.34,
 0.82,
 16.5,
 2.4,
 0.66,
 8.0,
 6.6,
 1.0,
 4.0,
 5.5,
 7.8,
 2.2,
 1.3,
 1.9,
 1.3,
 2.2,
 0.94,
 27.8,
 1.6,
 1.9,
 3.9,
 0.62,
 9.5,
 2.4,
 3.7,
 6.6,
 0.94,
 4.8,
 2.9,
 0.25,
 0.56,
 16.8,
 3.4,
 3.3,
 0.98,
 2.6,
 2.7,
 13.3,
 17.3,
 0.31,
 1.7,
 1.1,
 2.5,
 2.4,
 1.6,
 2.3,
 0.69,
 1.9,
 4.7,
 6.9,
 1.8,
 4.4,
 0.44,
 2.4,
 0.64,
 2.9,
 26.6,
 3.5,
 0.5,
 1.2,
 1.5,
 0.92,
 4.0,
 0.47,
 4.7,
 6.5,
 0.5,
 4.7,
 0.75,
 0.28,
 2.8,
 2.1,
 7.3,
 16.1,
 0.0,
 0.0,
 4.8,
 9.8,
 1.7,
 23.9,
 0.92,
 0.7,
 0.68,
 11.3,
 23.9,
 3.0,
 0.62,
 4.5,
 27.4,
 0.0,
 3.9,
 3.8,
 2.4,
 1.1,
 8.5,
 5.4,
 10.8,
 1.6,
 1.7,
 4.7,
 16.8,
 3.3,
 3.3,
 0.29,
 10.1,
 1.1,
 0.67,
 0.21,
 0.96,
 22.9,
 3.5,
 0.56,
 0.64,
 4.9,
 3.7,
 7.7,
 2.6,
 0.44,
 3.9,
 15.1,
 4.2,
 3.8,
 3.7,
 0.67,
 10.9,
 1.8,
 2.7,
 2.7,
 1.1,
 3.9,
 12.2,
 29.2,
 0.31,
 5.6,
 0.76,
 4.8,
 22.8,
 22.1,
 9.8,
 27.1,
 14.3,
 3.5,
 6.9,
 1.6,
 1.5,
 0.95,
 8.7,
 2.4,
 17.0,
 0.93,
 3.8,
 2.5,
 7.1,
 29.3,
 4.1,
 0.65,
 2.8,
 4.9,
 3.6,
 8.5,
 0.41,
 19.9,
 4.2,
 26.5,
 2.6,
 5.4,
 5.1,
 23.1,
 0.5,
 7.7,
 6.8,
 27.8,
 3.9,
 16.5,
 3.4,
 20.3,
 1.1,
 19.5,
 2.0,
 6.0,
 2.6,
 2.3,
 0.6,
 1.0,
 1.1,
 2.7,
 3.9,
 0.43,
 15.1,
 0.58,
 29.7,
 6.1,
 1.1,
 4.2,
 1.7,
 2.5,
 1.3,
 4.7,
 3.9,
 1.6,
 4.1,
 0.3,
 3.6,
 4.6,
 2.1,
 1.2,
 0.32,
 1.1,
 14.8,
 1.9,
 9.0,
 2.1,
 2.3,
 3.9,
 0.47,
 0.52,
 0.74,
 4.9,
 2.4,
 1.4,
 2.3,
 2.0,
 21.5,
 1.5,
 6.3,
 4.5,
 0.98,
 2.2,
 2.4,
 0.86,
 0.39,
 26.6,
 1.3,
 0.3,
 3.1,
 4.7,
 16.3,
 0.0,
 5.2,
 2.5,
 4.2,
 29.1,
 2.5,
 1.1,
 1.9,
 4.2,
 1.2,
 1.7,
 0.47,
 0.84,
 4.1,
 0.6,
 0.48,
 1.6,
 2.0,
 6.2,
 2.7,
 1.1,
 0.9,
 0.25,
 0.0,
 3.4,
 1.0,
 0.56,
 4.3,
 10.6,
 4.8,
 22.8,
 4.9,
 2.1,
 0.62,
 0.41,
 3.7,
 9.7,
 10.6,
 0.58,
 1.1,
 9.8,
 2.9,
 0.0,
 21.7,
 0.99,
 0.33,
 1.3,
 3.0,
 2.1,
 0.72,
 0.4,
 8.7,
 7.7,
 20.7,
 4.6,
 8.7,
 0.94,
 0.84,
 4.7,
 2.7,
 2.3,
 2.7,
 2.7,
 0.26,
 21.0,
 2.7,
 3.3,
 4.5,
 1.1,
 3.9,
 0.82,
 1.8,
 4.4,
 1.7,
 1.0,
 26.7,
 0.63,
 11.3,
 1.2,
 2.1,
 0.68,
 0.99,
 2.4,
 1.3,
 3.4,
 2.5,
 2.7,
 13.7,
 0.74,
 2.9,
 3.4,
 24.8,
 1.7,
 12.4,
 2.7,
 6.4,
 0.41,
 15.9,
 4.9,
 2.1,
 0.91,
 0.42,
 1.1,
 4.0,
 0.99,
 0.6,
 0.75,
 1.0,
 2.8,
 0.88,
 1.7,
 2.6,
 4.5,
 29.5,
 4.8,
 0.68,
 3.4,
 11.9,
 28.0,
 0.46,
 0.47,
 7.9,
 2.3,
 4.6,
 25.6,
 1.2,
 5.9,
 0.36,
 2.4,
 0.74,
 3.1,
 0.98,
 1.5,
 24.8,
 2.9,
 5.8,
 2.2,
 0.91,
 0.25,
 7.4,
 3.3,
 1.8,
 27.3,
 3.8,
 0.48,
 2.2,
 3.4,
 0.71,
 1.2,
 2.1,
 12.5,
 7.0,
 9.1,
 4.5,
 1.1,
 19.9,
 2.4,
 25.9,
 2.0,
 3.4,
 3.8,
 0.0,
 7.3,
 0.44,
 0.66,
 1.9,
 9.3,
 1.4,
 0.34,
 0.47,
 9.1,
 3.3,
 3.5,
 0.93,
 1.7,
 2.8,
 1.2,
 2.2,
 21.9,
 13.6,
 2.9,
 8.4,
 0.69,
 4.7,
 0.54,
 0.22,
 3.2,
 4.6,
 4.9,
 ...]

In [47]:
comp = list(df.compensation)
comp

[124267,
 236889,
 74321,
 62593,
 36288,
 61302,
 68984,
 18858,
 55418,
 614,
 70564,
 55525,
 61005,
 2846,
 21,
 14699,
 2110,
 620,
 73527,
 6992,
 22311,
 1377,
 69174,
 117636,
 65937,
 27856,
 903,
 50501,
 482,
 70407,
 8690,
 114648,
 73454,
 8075,
 59151,
 70112,
 70183,
 64502,
 2521,
 63616,
 59849,
 31516,
 18582,
 4187,
 64405,
 114807,
 632,
 61157,
 1194,
 28955,
 56553,
 75177,
 28009,
 67074,
 50059,
 7624,
 74321,
 671,
 837,
 2011,
 62937,
 685,
 41615,
 52572,
 51856,
 411,
 152,
 8181,
 2708,
 55041,
 68412,
 6141,
 3979,
 3760,
 57465,
 3864,
 488487,
 24393,
 68624,
 70796,
 236889,
 57861,
 21055,
 59167,
 55882,
 73802,
 21206,
 79803,
 73043,
 268191,
 14298,
 68805,
 56003,
 73664,
 434,
 52109,
 10284,
 43906,
 67971,
 58465,
 64488,
 7709,
 1957,
 4131,
 26022,
 29926,
 62593,
 109543,
 107644,
 1047,
 59909,
 68344,
 54427,
 70930,
 50835,
 14151,
 11681,
 71808,
 70991,
 31626,
 52416,
 288146,
 65143,
 34866,
 186,
 60065,
 40336,
 115654,
 431,
 59814,
 45413,
 4196,
 55751,
 61912,
 49478,
 29139,
 67272,
 70264,
 264,
 14853,
 55482,
 26,
 250,
 66025,
 55906,
 63754,
 86855,
 63242,
 70448,
 68964,
 111583,
 52350,
 58574,
 330,
 64478,
 94273,
 62142,
 5857,
 194518,
 60873,
 55584,
 949,
 27748,
 239,
 120047,
 332,
 51428,
 256063,
 50783,
 109423,
 85525,
 226,
 13056,
 8015,
 450,
 55219,
 348,
 53685,
 59456,
 62821,
 13478,
 59666,
 57673,
 29472,
 276659,
 5119,
 27631,
 282,
 34238,
 106203,
 74289,
 226171,
 74445,
 67863,
 65871,
 67736,
 785,
 28073,
 20390,
 4791,
 16059,
 62115,
 73319,
 44491,
 74588,
 74799,
 57207,
 14370,
 57816,
 62513,
 61763,
 50427,
 1129,
 59687,
 67959,
 62849,
 1337,
 72317,
 31044,
 66163,
 11165,
 68871,
 22332,
 6196,
 388,
 12925,
 3092,
 8880,
 65433,
 13423,
 4704,
 740,
 64640,
 63,
 79687,
 63155,
 54825,
 61352,
 64184,
 130578,
 57821,
 52061,
 2279,
 73945,
 62225,
 52153,
 32815,
 178,
 553,
 64796,
 51701,
 70917,
 1672,
 561,
 64214,
 32809,
 61430,
 2852,
 124867,
 55354,
 341,
 3241,
 114569,
 5068,
 53406,
 67586,
 368,
 66719,
 61028,
 380,
 104,
 57262,
 72756,
 117471,
 948,
 3458,
 62798,
 59402,
 54542,
 69584,
 2762,
 51493,
 397,
 268277,
 13504,
 236436,
 69429,
 183614,
 62053,
 20029,
 64,
 55068,
 2756,
 68080,
 51110,
 6055,
 566,
 57222,
 30662,
 57836,
 8651,
 50354,
 67366,
 3181,
 50292,
 26892,
 70349,
 11195,
 51080,
 9638,
 441,
 15222,
 748,
 65215,
 25696,
 54268,
 62430,
 57599,
 61169,
 72278,
 56628,
 58598,
 104890,
 70778,
 1920,
 64650,
 61957,
 280,
 53807,
 4278,
 62815,
 55603,
 45474,
 59812,
 10176,
 3449,
 330,
 50545,
 303,
 64186,
 1426,
 750,
 74868,
 26708,
 64493,
 79,
 72549,
 28039,
 59061,
 69723,
 69452,
 22665,
 214,
 2355,
 162385,
 5871,
 853,
 3929,
 58863,
 8009,
 68498,
 1948,
 69648,
 74877,
 65598,
 54524,
 66262,
 4427,
 31841,
 54481,
 57717,
 25721,
 64217,
 2203,
 62142,
 12573,
 13212,
 71758,
 4306,
 835,
 601,
 61209,
 365,
 702,
 67436,
 73296,
 63999,
 58760,
 70522,
 78489,
 59768,
 53040,
 1894,
 124879,
 98886,
 797,
 67900,
 169111,
 69490,
 18059,
 61535,
 279,
 4951,
 675,
 66662,
 5345,
 15827,
 268,
 63128,
 51943,
 7606,
 55361,
 2284,
 13232,
 70,
 51162,
 24490,
 58763,
 57140,
 53937,
 10720,
 55375,
 9526,
 74828,
 584,
 42097,
 62804,
 4296,
 60567,
 102894,
 29160,
 1491,
 614,
 37053,
 181179,
 55377,
 6947,
 21934,
 65,
 57123,
 1943,
 67032,
 63358,
 28,
 3519,
 356,
 158644,
 7226,
 12915,
 73268,
 57188,
 102,
 3032,
 123071,
 250388,
 70915,
 201,
 246015,
 11378,
 303,
 50638,
 20749,
 521,
 17911,
 70675,
 70432,
 78601,
 1282,
 99399,
 1503,
 53171,
 57165,
 25114,
 26960,
 60063,
 610,
 69739,
 3134,
 66837,
 55165,
 988,
 55580,
 76201,
 64966,
 6350,
 74951,
 51312,
 666,
 293904,
 106322,
 60814,
 70572,
 68837,
 62093,
 54114,
 979,
 2235,
 3303,
 71650,
 5145,
 56213,
 57850,
 62878,
 53195,
 2312,
 163016,
 80274,
 34215,
 68870,
 245,
 92681,
 72998,
 61803,
 269443,
 58537,
 160989,
 21386,
 262267,
 40701,
 14184,
 51286,
 27246,
 894,
 55032,
 293074,
 62407,
 57986,
 197702,
 58495,
 60397,
 51395,
 87556,
 4853,
 4795,
 10487,
 49634,
 85067,
 60649,
 29055,
 402,
 12966,
 55051,
 55936,
 72312,
 55815,
 85996,
 73483,
 57116,
 71248,
 2620,
 72617,
 5838,
 51572,
 70132,
 53668,
 59530,
 253920,
 549,
 755,
 38078,
 525,
 47261,
 24554,
 22085,
 17937,
 72360,
 18607,
 57700,
 1524,
 18712,
 53965,
 73004,
 50276,
 54145,
 322,
 574,
 12801,
 71045,
 69120,
 82527,
 60748,
 490,
 72533,
 4320,
 57114,
 250,
 54947,
 56963,
 8316,
 63330,
 67994,
 61608,
 60833,
 55193,
 1788,
 51397,
 80248,
 54401,
 72472,
 67690,
 52835,
 70275,
 1833,
 51048,
 12130,
 4441,
 660,
 4356,
 48658,
 67022,
 55014,
 79549,
 61440,
 74808,
 69191,
 5414,
 8027,
 304,
 68620,
 68705,
 3266,
 56404,
 72267,
 15598,
 756,
 3064,
 53474,
 3446,
 50527,
 54821,
 154850,
 65435,
 73399,
 64946,
 18800,
 56757,
 2592,
 16612,
 19143,
 59359,
 120711,
 52082,
 67918,
 59017,
 864,
 664,
 19284,
 217677,
 475180,
 10746,
 56503,
 8359,
 378,
 70460,
 21123,
 62,
 11020,
 12529,
 1325993,
 64688,
 71694,
 62257,
 66467,
 57612,
 17739,
 103218,
 1507,
 7254,
 54862,
 27111,
 20031,
 41563,
 67010,
 5784,
 72308,
 22030,
 67377,
 796,
 69368,
 72472,
 63048,
 9892,
 56203,
 48552,
 72018,
 13,
 60665,
 70969,
 37353,
 13483,
 73574,
 53506,
 26289,
 43464,
 5122,
 5330,
 8372,
 63035,
 287624,
 66297,
 74909,
 68897,
 55103,
 65436,
 83337,
 220415,
 68892,
 113998,
 61718,
 621,
 2830,
 174280,
 62136,
 80095,
 88209,
 64470,
 102277,
 53512,
 71858,
 1481,
 70758,
 508,
 17559,
 10373,
 57164,
 7724,
 54590,
 74891,
 325,
 554,
 39643,
 71105,
 5051,
 11048,
 74783,
 21353,
 682,
 429315,
 65441,
 72536,
 119762,
 195277,
 69484,
 185336,
 69491,
 714555,
 72595,
 872,
 141,
 268989,
 4006,
 9336,
 3085,
 62835,
 27020,
 76,
 38476,
 70504,
 6973,
 544,
 58032,
 325,
 74528,
 119,
 20426,
 41107,
 11114,
 31534,
 9606,
 62179,
 58568,
 9603,
 9078,
 943,
 52653,
 221,
 53034,
 11002,
 53292,
 456,
 71624,
 73324,
 91644,
 11855,
 23530,
 12407,
 67512,
 968,
 69126,
 56472,
 63077,
 52625,
 68695,
 6528,
 64466,
 57584,
 63587,
 64878,
 2220,
 65180,
 60218,
 4645,
 68252,
 70314,
 766,
 2030,
 54022,
 53318,
 56645,
 52326,
 97,
 11425,
 36288,
 484,
 4893,
 104484,
 56945,
 52839,
 58164,
 14807,
 2789,
 73427,
 58350,
 16755,
 953,
 65157,
 67006,
 753,
 59231,
 69020,
 495,
 42047,
 64311,
 4314,
 623,
 472,
 2724,
 594,
 10808,
 69254,
 340,
 39388,
 837,
 65343,
 65800,
 639,
 378,
 248,
 84270,
 88125,
 47405,
 55049,
 61031,
 1869,
 4317,
 64635,
 51402,
 21777,
 50854,
 181181,
 56455,
 55947,
 1516,
 74963,
 283,
 24310,
 46410,
 1773,
 63503,
 8517,
 677,
 95980,
 61704,
 2096,
 3332,
 74876,
 53241,
 65015,
 69794,
 1688,
 69211,
 66810,
 70512,
 70396,
 54649,
 163626,
 20134,
 50557,
 67548,
 835,
 74524,
 55162,
 66597,
 73110,
 63709,
 181429,
 22534,
 67768,
 63167,
 211,
 68852,
 63195,
 51234,
 954,
 94385,
 67835,
 256979,
 67498,
 10541,
 2743,
 2000,
 52961,
 542,
 68699,
 270,
 73596,
 791,
 65499,
 9095,
 56712,
 64964,
 304,
 27862,
 56429,
 56617,
 4377,
 66917,
 40909,
 30501,
 95918,
 52440,
 51,
 17570,
 26060,
 19404,
 20696,
 53072,
 207422,
 54171,
 67687,
 61813,
 2910,
 851,
 552,
 64562,
 70663,
 474,
 64573,
 311,
 804,
 14315,
 44540,
 26130,
 66962,
 114075,
 285,
 52671,
 88205,
 31158,
 750,
 64017,
 71237,
 23040,
 30859,
 20431,
 16710,
 12953,
 58403,
 237978,
 19659,
 2090,
 44685,
 729,
 674,
 24801,
 59184,
 522,
 75691,
 12092,
 240163,
 993,
 51442,
 109344,
 922,
 68036,
 16529,
 53990,
 52974,
 66042,
 50591,
 72511,
 57331,
 33733,
 57104,
 83630,
 55929,
 68255,
 235,
 69649,
 71502,
 ...]

In [48]:
min_exp = df["experience_coding"].min()
min_exp

0.0

In [49]:
max_exp = df["experience_coding"].max()
max_exp

30.0

In [50]:
min_comp = df["compensation"].min()
min_comp

0

In [51]:
max_comp = df["compensation"].max()
max_comp

1492951

In [52]:
avg_exp = df["experience_coding"].mean()
avg_exp

5.297231740653754

In [53]:
avg_comp = df["compensation"].mean()
avg_comp

53252.81696377007

In [57]:
def catagory(experience_coding):
    if experience_coding < 5:
        return "< 5 Years"
    elif experience_coding < 10:
        return "5-10 Years"
    elif experience_coding < 15:
        return "10-15 Years"
    elif experience_coding < 20:
        return "15-20 Years"
    elif experience_coding < 25:
        return "20-25 Years"
    else:
        return "25+ Years"
    
df['Catagory']= df['experience_coding'].apply(catagory)

In [58]:
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation,Catagory
0,6.1,True,False,True,Scikit-learn,124267,5-10 Years
1,12.3,True,True,True,Scikit-learn,236889,10-15 Years
2,2.2,True,False,False,None,74321,< 5 Years
3,2.7,False,False,True,None,62593,< 5 Years
4,1.2,True,False,False,Scikit-learn,36288,< 5 Years
...,...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800,< 5 Years
25969,1.4,True,False,False,PyTorch,62456,< 5 Years
25970,0.0,False,False,False,None,923,< 5 Years
25971,9.4,True,False,True,Scikit-learn,60609,5-10 Years
25972,0.0,False,False,False,None,493,< 5 Years

In [59]:
df.tail(10)

,experience_coding,python_user,r_user,sql_user,most_used,compensation,Catagory
25963,25.4,True,False,False,PyTorch,483648,25+ Years
25964,5.9,True,False,False,TensorFlow,50180,5-10 Years
25965,2.0,True,False,True,Keras,69047,< 5 Years
25966,1.9,True,False,False,Scikit-learn,3932,< 5 Years
25967,6.1,True,False,True,Scikit-learn,80090,5-10 Years
25968,1.9,True,False,True,Scikit-learn,15800,< 5 Years
25969,1.4,True,False,False,PyTorch,62456,< 5 Years
25970,0.0,False,False,False,None,923,< 5 Years
25971,9.4,True,False,True,Scikit-learn,60609,5-10 Years
25972,0.0,False,False,False,None,493,< 5 Years

In [60]:
df.head(500)

,experience_coding,python_user,r_user,sql_user,most_used,compensation,Catagory
0,6.10,True,False,True,Scikit-learn,124267,5-10 Years
1,12.30,True,True,True,Scikit-learn,236889,10-15 Years
2,2.20,True,False,False,None,74321,< 5 Years
3,2.70,False,False,True,None,62593,< 5 Years
4,1.20,True,False,False,Scikit-learn,36288,< 5 Years
...,...,...,...,...,...,...,...
495,2.80,True,False,True,PyTorch,979,< 5 Years
496,0.96,True,True,False,Scikit-learn,2235,< 5 Years
497,1.40,True,False,False,Keras,3303,< 5 Years
498,25.80,True,False,False,Scikit-learn,71650,25+ Years
499,1.50,True,False,False,None,5145,< 5 Years